.HomePagePicture{
    position: relative;
    z-index: -1;
    height: 60vh;
    background-image: url(./bgImage.jpg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.home-font{
 text-align: center;
 margin: auto;
 font-family: 'Roboto Mono', monospace;
}